* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 3vmin;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #14191d, #38393b);
}

.card {
  width: 80vmin;
  height: 50vmin;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  box-shadow: 0 0 0.5rem #fff6;
  background: #38393b;
}

.card-front {
  cursor: pointer;
}

.card-back {
  transform: rotateY(180deg);
  flex-direction: column;
  padding: 1rem;
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

.card-title {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 1rem #000;
}

.tabs {
  color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 10fr;
  column-gap: 0.5rem;
}

.tab-radio {
  display: none;
  opacity: 0;
}

.tabs label {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #ebebeb8e;
  color: #000;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: background 0.3s;
  text-align: center;
}

.tabs label:hover {
  background: #d8d8d8;
}

.tab-content {
  background: #ffffff;
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  grid-column: 1/4;
  grid-row: 2/3;
  overflow-y: scroll;
  max-height: 0;
  opacity: 0;
  transition: all 0.75s ease;
}

.tab-content-text {
  text-align: justify;
}

.tab-radio:checked + label {
  background: #ffffff;
}

.tab-radio[data-html]:checked ~ .html,
.tab-radio[data-css]:checked ~ .css,
.tab-radio[data-js]:checked ~ .js {
  height: auto;
  max-height: 9999rem;
  opacity: 1;
}
