body {
    font-size: 3vh;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: background-color 0.2s linear;
    pointer-events: none;
}

.wrapper {
    border: 4px solid #4400ff;
    width: 50%;
    height: 50%;
    padding: 0rem;
    background-color: #0a0a0a23;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    pointer-events: none;
}

.card {
    width: 90%;
    height: 90%;
    pointer-events: auto;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    position: relative;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s ease;
}

.wrapper:hover {
    border-color: #ff0000;
    background-color: #ffffff13;
}

body:hover {
    background-color: #0a0a0a;
}

.card-front {
    background: #0a0a0a;
    box-shadow: 5px 5px 10px 1px #444444;
}

.card-back {
    background: #757575;
    transform: rotateY(180deg);
    flex-direction: column;
}

.tabs {
    color: black;
    width: 100%;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0;
    cursor: pointer;
    background: #ebebeb8e;
    color: black;
    border-radius: 5px 5px 0 0;
    transition: background 0.3s;
}

.tabs label:hover {
    background: #d8d8d8;
}

.tab-content {
    display: none;
    background: #ffffff;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    margin-top: -1px;
}

#tab1:checked ~ label[for="tab1"],
#tab2:checked ~ label[for="tab2"],
#tab3:checked ~ label[for="tab3"] {
    background: #ffffff;
}

#tab1:checked ~ .desc,
#tab2:checked ~ .goals,
#tab3:checked ~ .start {
    display: block;
}

a {
    background: #000000;
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

ul {
    padding-left: 1.2rem;
}

@media (max-width: 400px) {
    .card {
        width: 90%;
        height: auto;
    }
}
